@font-face {
  font-family: interBold;
  src: url(./../../assets/fonts/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: interExtraBold;
  src: url(./../../assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: interRegular;
  src: url(./../../../assets/fonts/static/Inter-Regular.ttf);
}
