@use "../maps/grid-map" as *;

main {
  display: grid;
  grid-template-areas:
    "one one four"
    "two three four"
    "five six seven";
  width: 90%;
  height: 50%;
  gap: 2rem;
  position: absolute;
  top: 10%;
  left: 5%;
}

@each $number, $value in $grid-map {
  .grid-part {
    &-#{$number} {
      grid-area: #{$value};
    }
  }
}

