header {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu {
      display: flex;
      list-style: none;
      gap: 25%;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
